{% block stylesheets %}
    {{ encore_entry_link_tags('AddTask') }}
{% endblock %}

{% block body %}


    <!-- Modal -->
    <div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary text-white">
                    <h5 class="modal-title " id="exampleModalCenterTitle">Nouvelle tâche</h5>
                    <button type="button" class="close createTask text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-light">
                    <div id="addTask">
                        <AddTask/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('AddTask') }}
    <script src="{{ asset('js/toast.js') }}"></script>
{% endblock %}






