{% extends 'base.html.twig' %}

{% block title %} Accès interdit !{% endblock %}

{% block body %}
    <div class="container bg-danger">
        <h3>Vous n'êtes autorisé à afficher cette page !</h3>
        <p>Vous pouvez retourner à l'accueil en utilisant la barre de navigation ou en cliquant sur lien ci-dessous... </p>
        <a class="btn btn-info" href="{{ path('homepage') }}">Retour à l'accueil...</a>
    </div>
{% endblock %}